
*{
    font-family: Arial, Helvetica, sans-serif;
}



a{
    color:white;
    padding-right: 30px ;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    color: rgb(255, 148, 8);
    text-decoration: none;
}